*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: tahoma;
    background-color: 	#d0f0c0;
    width: 100%;
    min-height: 100vh;
}

/* Navigation */

nav{
    background: #457465;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 15px;
}

a.active,a:hover{
    background: #Acd1af;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1085px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }

    nav ul li a{
      font-size: 16px;
      margin: 0;
    }

    .footer-content2{
        visibility: hidden;
    }

    .social-media{
        visibility: hidden;
    }

    .footer-content1{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: 300px;
        box-align: center;
    }

    .footer-content1 p{
        font-size: 10px;
    }

}

@media (max-width: 1085px){
    .checkbtn{
      display: block;
    }
    
    ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background: #457465;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a{
      font-size: 20px;
    }

    a:hover,a.active{
      background: none;
      color: #Acd1af;
    }

    #check:checked ~ ul{
      left: 0;
    }

}

/* Footer */

.footer-content{
    background-color: #457465;
    display: flex;
    justify-content: space-around;
    color: white;
    height: 140px;
    align-items: center;
    text-align: left;
    font-size: 15px;
    position: sticky;
    top: 100%;
}

.socialmedia{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  1 rem 0 3rem 0;
    padding: 10px;
}

.socialmedia li{
    margin: 0 10px;
}

.socialmedia a{
    text-decoration: none;
    color: white;
}

/* home-banner */

.home-banner{
    background: url(./IMG/Banner.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 70vh;
    position: flex;
    justify-content: center;
    top: 85px;
    color: #457465;
    margin-bottom: 20px;
}

label.banner-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-top: 8%;
}

.home-banner p{
    text-align: center;
    line-height: 35px;
    font-size: 30px;
}

/*Recommended-Store*/

.Store-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

label.store-title{
    color: #457465;
    font-size: 35px;
    font-weight: bold;
    margin: 60px;
}

.Store{
    margin: 80px;
    background-color: rgba(69, 116, 101, 0.7);
    border-radius: 20px 20px 20px 20px;
    z-index: 9999;
    display: inline-block;
    flex-direction: row;
    font-display: column;
    color: white;
    padding: 70px;
}

.Store h2{
    margin: 10px;
    font-size: 50px;
}

.Store p{
    font-size: 25px;
    margin: 10px;
    line-height: 35px;
}

/* Location */

.aboutus-container{
    background: url(./IMG/HomeBanner-pic.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.blur{
    backdrop-filter: blur(8px);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.location{
    margin: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px 20px 20px 20px;
    z-index: 9999;
    display: inline-block;
    flex-direction: row;
    color: white;
}

.mall-location{
    width: 678px;
    height: 401.25px;
    margin: 40px;
    border-radius: 20px;
}

.location h2{
    margin-left: 50px;
    font-size: 35px;
}

.location p{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 1085px){
    .mall-location{
        width: 452px;
        height: 267px;
        border-radius: 20px 20px 20px 20px;
        margin: 0;
        display: block;
    }
    
    .location{
        width: 452px;
        margin: 80px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px 20px 20px 20px;
        z-index: 9999;
        display: inline-block;
        flex-direction: row;
        font-display: column;
        color: white;
    }

    .location h2{
        margin: 20px;
        font-size: 20px;
    }
    .location p{
        margin: 20px;
        font-size: 13px;
    }
    .mall-interior{
        visibility: hidden;
    }
}

/* About Us */

.aboutus-banner{
    background: url(./IMg/Banner.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 30vh;
    position: flex;
    justify-content: center;
    top: 85px;
    color: white;
    margin-bottom: 20px;
}

.aboutus-banner h2{
    color: #457465;
    text-align: center;
    display: block;
    padding-top: 70px;
    font-size: 50px;
}

.aboutus-content p{
    line-height: 40px;
    margin: 100px;
    color: white;
    font-size: 30px;
}